
  <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://api.thumbr.io/55935085f1cb5fbda644ec70e7181b32/td01lCLK6KuyQknexL6E/static.funnypik.com/thumb/1978/1977989.jpg/200x200t/amy-adams-talks-batman-vs-superman.jpg" alt="">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Amy Adams</h4>
    Amy Lou Adams was born in Italy, to American parents Kathryn (Hicken) and Richard Kent Adams, while her father was a U.S. serviceman. She was raised in a Mormon family of seven children in Castle Rock, Colorado.

    <h5> <strong>Location: </strong> Hollywood, CA</h5>
    <h5> <strong>Star Rating: </strong></h5>
    
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
    90%
  </div>
</div>
    
    
    
  </div>
</div>