  
  <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://1.bp.blogspot.com/-jr9jY4WjDUc/Te_0NbHuqtI/AAAAAAAAATc/mHN_W7HodNw/s200/Mila+Kunis-300.jpg" alt="">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Mila Kunis</h4>
    The talented Milena "Mila" Markovna Kunis was born to a Jewish family in Chernivtsi, Ukraine, USSR (now independent Ukraine). Her mother, Elvira, is a physics teacher, her father, Mark Kunis, is a mechanical engineer, and she has an older brother named Michael. 

    <h5> <strong>Location: </strong> San Diego, CA</h5>
    <h5> <strong>Star Rating: </strong></h5>
    
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
    50%
  </div>
</div>
    
    
    
  </div>
</div>